<div class="hero-body">
  <div class="container is-fluid has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-12">
        <h1 class="title is-2">
          Effortless forms for your static site
        </h1>
        <h2 class="subtitle is-4">
          No need to build a backend for your forms.<br/>
        </h2>
        <div class="demo is-hidden-mobile">
          <iframe src="https://player.vimeo.com/video/233673541?title=0&byline=0&portrait=0" width="800" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <br/>
        <h2 class="subtitle is-4">
          One plan. <strong>10</strong> forms. <strong>$3.99</strong> per month.
        </h2>
        <p class="has-text-centered">
          <%= link_to "Get Started", new_user_registration_path, class: "button is-large is-primary" %>
        </p>
      </div>
    </div>
  </div>
</div>
