<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-3by9">
          <img src="http://i.imgur.com/6reOs33.png" alt="Description">
        </figure>
      </div>
      <div class="column is-7">
        <h1 class="title is-2">
          Effortless forms for your static site
        </h1>
        <h2 class="subtitle is-4">
          formiqo is a super simple forms solution that doesn't require any backend
        </h2>
        <br>
        <p class="has-text-centered">
          <%= link_to "Get Started", new_user_registration_path, class: "button is-large is-primary" %>
        </p>
      </div>
    </div>
  </div>
</div>
