<div class="hero-body">
  <div class="container is-fluid has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by9">
          <img src="images/mailbox.png" alt="formiqo.com mailbox">
        </figure>
      </div>
      <div class="column is-7">
        <h1 class="title is-2">
          Effortless forms for your static site
        </h1>
        <h2 class="subtitle is-4">
          No need to build a backend for your forms.<br/>
        </h2>
        <h2 class="subtitle is-4">
          One plan. <strong>10</strong> forms. <strong>$4.99</strong> per month.
        </h2>
        <br>
        <p class="has-text-centered">
          <%= link_to "Get Started", new_user_registration_path, class: "button is-large is-primary" %>
        </p>
      </div>
    </div>
  </div>
</div>
