<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">Thank you!</h1>
      <h2 class="subtitle is-4">Your message was successfully submitted.</h2>
      <a class="" href="/">
        <img src="<%= image_path('logo.png') %>" alt="formiqo" width="112" height="28">
      </a>
    </div>
  </div>
</section>
