
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Today</p>
      <p class="title"><%= @today %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Week</p>
      <p class="title"><%= @week %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Month</p>
      <p class="title"><%= @month %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">All time</p>
      <p class="title"><%= @all_time %></p>
    </div>
  </div>
</nav>
