@import "bulma";
@import "font-awesome";
body {
  overflow-x: visible;
}


// #8972ab
a {
  color: #8972ab;
}
.menu-list a.is-active {
  background-color: #8972ab;
}
.button.is-primary {
  background-color: #8972ab;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #8972ab;
}
.tabs li.is-active a {
  border-bottom-color: #8972ab;
}
.tabs.is-toggle li.is-active a  {
  background-color: #8972ab;
  border-color: #8972ab;
}
.menu-list a.is-active:hover {
  color: #fff;
}
.menu-list a:hover {
  color: #8972ab;
}
