@import "bulma";
@import "font-awesome";


body {
  // overflow-x: visible;
}

// #8972ab
a {
  color: #8972ab;
}
.menu-list a.is-active {
  background-color: #8972ab;
}

.button.is-primary {
  background-color: #8972ab;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #8972ab;
}
.button:focus, .button.is-focused {
  border-color: #8972ab;
  box-shadow: 0 0 0.5em rgba(137, 114, 171, 0.52);
}
.button.is-primary:active, .button.is-primary.is-active {
  background-color: #8972ab;
}
.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
  border-color: #8972ab;
}
.tabs li.is-active a {
  border-bottom-color: #8972ab;
}
.tabs.is-toggle li.is-active a  {
  background-color: #8972ab;
  border-color: #8972ab;
}
.navbar-link::after,
.select:after {
  border: 1px solid #8972ab;
  border-right: 0;
  border-top: 0;
}
.menu-list a.is-active:hover {
  color: #fff;
}
.menu-list a:hover {
  color: #8972ab;
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: #8972ab;
}

.pagination-link.is-current {
  background-color: #8972ab;
  border-color: #8972ab;
}
.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
  border-color: #8972ab;
}
.no-messages {
  margin: 100px 0;
}
.tag.is-theme {
  background-color: #8972ab;
  color: #fff;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  display: block;
  margin: 0;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  overflow: hidden;
  background-color: #f9f9f9;

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  &:hover {
    overflow: auto;
  }
}

.active-scope {
  a {
    font-weight: bold;
    color: #000;
  }
}

.messages {
  margin-bottom: 20px;
}

#loading-pay-btn {
  display: none;
}

.card:hover, .current-plan {
  background: #8972ab;
  .content, .title, .subtitle, #cpl {
    color: #fff !important;
  }
}

.current-plan {
  position: relative;
  background: #8972ab;
  .card-content {
    padding: 0.8em;
  }
  #cpl {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
  }
}

.menu-alert {
  margin-bottom: 15px;
}

ul.message-fields {
  list-style-type: none;
  margin-left: 0;
}
#toggle-view:active {
  border-color: none;
}

.hero.is-theme {
  color: whitesmoke;
}
.hero.is-theme.is-bold {
  background-image: linear-gradient(141deg, #8972ab 0%, #6f5a8e 71%, #8972ab 100%);
}
.hero.is-theme .title {
    color: whitesmoke;
}
.hero.is-theme a:not(.button), .hero.is-theme strong {
    color: inherit;
}

.hero.is-90vh  {
  min-height: 90vh !important;
}
