<!DOCTYPE html>
<html>
  <head>
    <title>Formiqo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-fullheight is-bold">
      <%= yield %>
    </section>
  </body>
</html>
